* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* debug only */
 /* border: 1px solid lightblue; */
}

/* color_palette:
  #8C1F28
  #591C21
  #044040
  #D92525
  #B2BEBF
  #F2F2F2 */

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

footer {
  height: 35px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #B2BEBF;
  height: auto; 
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #3B3936;
  height: 50px;
  width: 100%;
  padding: 25px 0px 0px;
  transition-duration: 0.3s;
}

nav a:hover {
  color: #F2F2F2;
  background-color: #486966;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

article {
  margin: 20px;
  padding: 50px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 8px 10px 0px #CFCFCF;
}

/* Aditional styles */

input {
  border-radius: 5px;
  border: 2 px solid #044040;
  color: #044040; 
  font-size: 20px;
}

input[type=text] {
  width: 75%;
}

input[type=tel] {
  width: 75%;
}

input[type=number]{
  width: 75%;
}

input[type=text]:focus {
  border-radius: 5px;
  border: 2 px solid black;
  background-color: white;
}

input[type=submit] {
  background-color: #F2F2F2;
  transition-duration: 0.3s;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 10px;
}

input[type=submit]:hover {
  background-color: #e2e2e2;
}

input[type=submit]:hover {
  background-color: #c9c9c9;
}

input[type=reset]{
  background-color: #8C1F28;
  color: white;
  transition-duration: 0.3s;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 10px;
}

select {
  border-width: 2px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2 px solid black;
  background-color: white;
}

.page {
  flex-grow: 1;
  display: flex;
}

/* Colors and basic styles */
.white {
  background-color: white;
  color: #044040;
}

.bright {
  background-color: #F2F2F2;
  color: #044040;
}

.bright button {
  background-color: #F2F2F2;
  transition-duration: 0.3s;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 10px;
}

.bright button:hover {
  background-color: #cfcfcf;
}

.dark {
  background-color: #591C21;
  color: #F2F2F2;
}

/* Card styles */

.card-holder {
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* background-color: #F2F2F2; */
  color: #044040; 
  width: 225px;
  margin: 10px;
  height: 300px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 8px 10px 0px #CFCFCF;
}

.card h1 {
  font-size: 20px;
}

.card img {
  width: 225px;
  height: auto;
  border-radius: 8px;
}

/* Paper styles (similar to .card) */

.paper-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paper {
  margin: 20px;
  padding: 20px;
  height: auto;
  box-shadow: 0px 8px 10px 0px #CFCFCF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
}

.paper image {
  width: 35%;
  height: auto;
  margin: 10px;
  border-radius: 8px;
}

/* Deprecated */

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.title-bar {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* form {
  background-color: white;
  padding: 50px;
  height: auto;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0px 8px 10px 0px #CFCFCF;
} */